body {
	margin: 0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

section.module.parallax {
	height: 500px;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

section.module.parallax h1{
	color: white;
	font-weight: 10;
	text-align: center;
	text-transform: uppercase;
	font-size: 60px;
	line-height: 500px;
}

.fade {
    height: 0;
    padding: 0;
    margin: 0;
    -webkit-transition:height .15s linear;
    transition:height .15s linear;
}
.fade.in {
    height: auto;
    padding: 15px;
    margin-bottom: 20px;
}

section.module.parallax-1 {
	background-image: url("./Images/Eiffel_Tower_1.jpg");
}
section.module.parallax-2 {
	background-image: url("./Images/IMG_5476.JPG");
}
section.module.parallax-3 {
	background-image: url("./Images/Love_Lock_Bridge_2.jpg");
	background-position: 50% 50%
}
section.module.content {
	padding:60px 0;
}

img.feedback {
	position: fixed;
	width: 35px;
	height:120px;
	margin: 0px;
	border: 0px;
	right:0px;
	top:50%;

}